---
sitemap: false
---

/*
 *
 *  HPSTR
 *
 *  Designer: Michael Rose
 *  Twitter: http://twitter.com/mmistakes
 *
*/

// Partials
@import "variables";
@import "mixins";
@import "reset";
@import "vendor/font-awesome/font-awesome";
@import "vendor/magnific-popup/magnific-popup";
@import "site";
@import "typography";
@import "rouge";
@import "coderay";
@import "grid";
@import "elements";
@import "animations";
@import "dl-menu";
@import "page";

/* Steemit button */
ul.social-buttons li a {
	transition: all 0.2s ease;
}
ul.social-buttons li a svg{
	transition: all 0.2s ease;
	fill: #fff;
}
ul.social-buttons li a:hover svg{
	transition: all 0.2s ease;
	fill: #222;
}

